
</body>
<footer class="footer">
    <p>Copyright 2023 James Cooper</p>
    <a href="http://github.com/nerowolf209" target="_blank">GitHub</a>
    <a href="https://www.instagram.com/wildjphotography/" target="_blank">Instagram</a>
    <a href="mailto:james.ioioio55@gmail.com" target="_blank" >Send me an email</a>
</footer>
    <script type="text/javascript" src="js/index.js"></script>
</html>